<div class="mat-elevetion-z4">
    <table mat-table [dataSource]="newteachers">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <th mat-cell *matCellDef="let row">{{ row.id }}</th>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <th mat-cell *matCellDef="let row">{{ row.nome }}</th>
    </ng-container>

    <ng-container matColumnDef="idade">
      <th mat-header-cell *matHeaderCellDef>Idade</th>
      <th mat-cell *matCellDef="let row">{{ row.idade }}</th>
    </ng-container>

    <ng-container matColumnDef="materia">
      <th mat-header-cell *matHeaderCellDef>Materia</th>
      <th mat-cell *matCellDef="let row">{{ row.materia }}</th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
  